/* CSS Document */
@charset "UTF-8";
html,body{
	margin:0px;
	padding:0px;
	width:100%;
	display:block;
	position:relative;
	background:#4E4040; /* jusque la c'est ce que tu avais mis ;) */ 
	overflow-x:hidden; /* on empeche le defillement horizontall */ 
	overflow-y:scroll; /* on accepte le defillement vertical */ }
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.casse{margin-top:10px;}
.entete{border:1px groove;
	z-index:99;
	display:block;
	width:100%;
	background:#E8C86E;
	font-family: girls, "Trebuchet MS", Arial, Helvetica, sans-serif;}
.bodytest{display:relative;}
.logo {
	display:block;
	text-align:center;
	vertical-align:middle;
}
.status_bar{height:20px;}
.logo img{
	width: 200px;
	}

.info{
	text-align:center; 
	margin-top:15px;
	font-size:18px;	}
.case{
	display:block;
	background-color:#E2DCDC;
	height:70px;	
	margin-left:auto;
	margin-right:auto;
	/*margin-bottom:5px;*/
	text-align:center;
	border:1px groove grey;
	/*border-radius: 100px;*/
	max-width:600px;
	}
.listview a{
text-decoration:none; 
color:black;
}
/* FORM LOG IN*/
.input-group{margin-bottom:5px;}
.center{text-align:center;}
.loggin{display:none;}
#log_retour{display:none;}
.btn{margin-left:5px;margin-right:5px;}
.biere{
	height:50px;
	/*width:50px;*/
	margin:8px;
	float:left;
	}


    .vertical-offset-100 {
        padding-top: 100px;
    }

.menu_deroule{display:none;width:300px;height:100%;position:absolute;left:0px;top:0px;bottom:0px;}
.menu_deroule ul{margin:50px;
-webkit-padding-start: 0px;
list-style-type: none;}
.menu_deroule li{
	list-style-type:none;
	margin-bottom:10px;
	padding:10px;
	padding-left:40px;
	color:orange;
 	background-image: url(../img/biere.png);
	background-size:30px;
  background-repeat: no-repeat;
  background-position: 0 0.4em;
	}
.bodytest{position:relative;}	
.transBG {
	left: 300px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	width:100%;
	height:100%;
	position: absolute;
	display: none;
	background-color: black;
	opacity: 0.5;
	filter: alpha(opacity=60);
	z-index:99999;
}

#slider
{
    position: absolute;
}
.left-pos
{
    left: 0;
    transition-property: left;
    transition-duration: 2s;
    transition-timing: ease;
    transition-delay: 0;
}
.right-pos
{
	position:relative;
    left: 300px;
    transition-property: left;
    transition-duration: 2s;
    transition-timing: ease;
    transition-delay: 0;
}


.titre{
	font: bold;
	font-size:16px;
	font-family:girls, "Trebuchet MS", Arial, Helvetica, sans-serif;
	text-align:center;
	vertical-align:middle;}

.fleche{
	height: 50px;
	margin-top:10px;
	margin-bottom:10px;
	margin-right:15px;
	float:right;}
.listview{
	/*display:block;*/
	margin-top:15px;
	position:relative;
	height: 1000px;;
	}
.contact{
	background-color:#E1D6D7;
	text-align:left;
	}
.btn_menu{width:70px;}
.plan{text-align:center;}
.menu{;display:block;}
.information{float:right; margin-right:10px;margin-top:10px;}
.information img{width:30px;}
.contact img{max-width:170px;
border:5px groove grey;}
footer{height:100px; display:block;}
.titre_contact{color:black;
text-align:}
.info_bdd{margin-top:20px;padding:0px; text-align:left;margin-left:20%;}
@font-face { 	
font-family: "girls"; 	
src: url('font/girls.ttf');
src: url('font/girls.eot'); }

    .img-responsive {
    display: block;
	width:100%;
    max-width: 400px;
    height: auto;
    margin: auto;
    }
    .panel {
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.75);
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    }
	button{margin:10px;width:90%;}
	.login{width:80%; margin:10px;}
	.panel-body{margin-top:30px;padding:0px; text-align:center;}
	.panel-default{padding:0px;}
	.btn-danger{margin-top:30px;margin-bottom:10px;}
	a{margin:10px;width:90%;}
	
			.rating {
			width: 100%;
			margin: 0 auto ;
			font-size: 35px;
			overflow:hidden;
		}
		.rating span {
			float:right;
			color: #aaa;
			margin:5px;
			text-decoration: none;
			-webkit-transition: color .4s;
			-moz-transition: color .4s;
			-o-transition: color .4s;
			transition: color .4s;
		}
		.rating span:hover,
		.rating span:hover ~ span,
		.rating span:focus,
		.rating span:focus ~ span		{
			color: orange;
			cursor: pointer;
		}
		
				.rating2 {
			direction: rtl;
		}
		.rating2 span {
			float:none
		}

@media screen and (max-height: 600px)
{
    /* Rédigez vos propriétés CSS ici */
	.logo img{
	width: 10em;
	}
	.menu{float:left;}
	.comment{float:left;}
	.logo{text-align:center;}
	.entete{
		padding-bottom:15px;
		height:auto;}
	.listview{margin-top:100px;}
}

@media screen and (max-width: 600px)
{
    /* Rédigez vos propriétés CSS ici */
.listview{margin-top:0px;}
}